<!DOCTYPE html>
<html>

<head>
  <title>PCMS</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-signin-client_id" content="342876179484-j1svlvjorpa0bptu960gj208psn9r71t.apps.googleusercontent.com">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="js/client.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
</head>

<body ng-app="tc" ng-controller="tcc">
  
  <div id="main">

    <div id="nav">
      <div id="signin" class="g-signin2"></div>
      <button id="signout" ng-click="signOut()">Signout</button>
      <button id="disconnect" ng-click="disconnect()">Disconnect</button>      
    </div>
    
    <div id="user-details">
      <table>
        <tr>
          <td><img ng-show="user.photo" ng-src="{{ user.photo }}"></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Photo URL: </td>
          <td>{{ user.photo }}</td>
        </tr>
        <tr>
          <td>User ID: </td>
          <td>{{ user.userid }}</td>
        </tr>
        <tr>
          <td>Full Name: </td>
          <td>{{ user.fullName }}</td>
        </tr>
        <tr>
          <td>First Name: </td>
          <td>{{ user.firstName }}</td>
        </tr>
        <tr>
          <td>Last Name: </td>
          <td>{{ user.lastName }}</td>
        </tr>
        <tr>
          <td>Email: </td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>Domain: </td>
          <td>{{ user.domain }}</td>
        </tr>
        <tr>
          <td>Timestamp: </td>
          <td>{{ user.timestamp }}</td>
        </tr>
        <tr>
          <td>ID Token: </td>
          <td>{{ user.idToken }}</td>
        </tr>
        <tr>
          <td>Expires At: </td>
          <td>{{ user.expiresAt }}</td>
        </tr>
      </table>      
    </div>
    
  </div>

</body>

</html>
