<!DOCTYPE html>
<html>

<head>
  <title>PCMS</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-signin-client_id" content="342876179484-j1svlvjorpa0bptu960gj208psn9r71t.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="https://rawgit.com/JamesWClark/RadCSS/master/rad.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
</head>

<body ng-app="tc" ng-controller="tcc">
  
  <!-- SIDE NAV -->
  <nav class="w3-sidenav w3-white w3-card-2" id="sidenav">
    <a href="#">Link 1</a>
    <div ng-if="course">
      <hr>
      <a href="" ng-click="suspendCourse(course.joinToken)">Suspend Course</a>
    </div>
  </nav>

  <!-- TOP NAV -->
  <ul id="top-nav" class="w3-navbar w3-blue" ng-if="user.userid">
    <li><a href="" id="three-bars" class="w3-opennav w3-xlarge" ng-click="show('#sidenav')">&#9776;</a></li>
    <li><a href="" ng-click="home()">Home</a></li>
    <li><a href="">Link 1</a></li>
    <li><a href="">Link 2</a></li>
    <li><a href="">Link 3</a></li>
    <li class="w3-right"><a id="nav-photo-link" href="" class="initial"><img id="nav-photo" class="w3-circle" ng-src="{{ user.photo }}"></a></li>
    <li class="w3-right"><a href="" ng-click="signOut()">Signout</a></li>
    <li class="w3-right"><a href="" ng-click="disconnect()">Disconnect</a></li>
    <li>{{ action }}</li>
  </ul>
  
  <!-- VIEW: COURSE -->
  <div id="view-course" ng-if="view === 'view-course'">
    <div class="w3-container w3-amber w3-center"><h1>{{ course.title }} &middot; {{ course.joinToken }}</h1></div>
    <div id="add-content" ng-if="user.superadmin === true">
      <div id="add-content-buttons-container">
        <div class="flex middle add-content-button" ng-click="getModal('create-web-snippet')">
          <div class="x3 right margin-right-8">Web Snippet</div>
          <div class="x1"><a class="w3-btn-floating-large w3-green"><img class="svg-margin-bottom-2" src="img/code.svg"></a></div>
        </div>
        <div class="flex middle add-content-button" ng-click="getModal('create-programming-task')">
          <div class="x3 right margin-right-8">Programming Task</div>
          <div class="x1"><a class="w3-btn-floating-large w3-green"><img class="svg-margin-bottom-2" src="img/terminal.svg"></a></div>
        </div>
      </div>
      <div class="flex">
        <div class="x3">&nbsp;</div>
        <div class="x1"><a id="add-content-plus-button" class="w3-btn-floating-large w3-green">+</a></div>
      </div>
    </div>
  </div>
  
  <!-- VIEW: LIST COURSES -->
  <div id="view-list-courses" ng-if="view === 'list-courses'" class="flex wrap">
    <div class="course-card w3-margin w3-padding-jumbo w3-center w3-amber w3-bottombar w3-border-orange" ng-show="c.suspend === undefined" ng-repeat="c in user.courses" ng-click="viewCourse(c)">
      {{ c.title }}
      <br><br>
      {{ c.joinToken }}
    </div>
    <div class="course-card border-dotted w3-margin w3-padding-jumbo w3-center w3-light-grey" ng-click="getModal('join-course')">+<br>Join<br>Course</div>
    <div class="course-card border-dotted w3-margin w3-padding-jumbo w3-center w3-light-grey " ng-if="user.superadmin == true" ng-click="getModal('create-course')">+<br>Create Course</div>
  </div>
  
  <!-- MODAL: CREATE COURSE -->
  <div id="modal-create-course" class="w3-modal">
    <div class="w3-modal-content w3-card-8" ng-form name="formCreateCourse">
      <div class="w3-container w3-dark-grey">
        <span class="w3-closebtn" ng-click="hide('#modal-create-course')">&times;</span>
        <h1>Create a New Course</h1>
      </div>
      <div class="w3-container w3-padding-top w3-padding-bottom">
        <label><strong>Course Name</strong></label>
        <span class="w3-text-red" ng-show="formCreateCourse.title.$dirty && formCreateCourse.title.$invalid">
          <span ng-show="formCreateCourse.title.$error.required">Required</span>
        </span>
        <input name="title" class="w3-input" type="text" placeholder="Enter Course Name" ng-model="newCourse.title" required>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col s6">
          <label><strong>Start Date</strong></label>
          <span class="w3-text-red" ng-show="formCreateCourse.startDate.$dirty && formCreateCourse.startDate.$invalid">
            <span ng-show="formCreateCourse.startDate.$error.required">Required</span>
          </span>          
          <input name="startDate" class="w3-input datepicker" type="text" placeholder="Enter Start Date" ng-model="newCourse.start" required>
        </div>
        <div class="w3-col s6">
          <label><strong>End Date</strong></label>
          <span class="w3-text-red" ng-show="formCreateCourse.endDate.$dirty && formCreateCourse.endDate.$invalid">
            <span ng-show="formCreateCourse.endDate.$error.required">Required</span>
          </span>          
          <input name="endDate" class="w3-input datepicker" type="text" placeholder="Enter End Date" ng-model="newCourse.end" required>
        </div>
      </div>
      <div class="w3-container w3-padding-top w3-padding-bottom">
        <button class="w3-btn w3-green" ng-disabled="formCreateCourse.title.$invalid || formCreateCourse.startDate.$invalid || formCreateCourse.endDate.$invalid" ng-click="createCourse()">Create</button>
        <button class="w3-btn w3-green" ng-click="hide('#modal-create-course')">Cancel</button>
      </div>
      <div class="w3-container w3-dark-grey">&nbsp;</div>
    </div>
  </div>
  
  <!-- MODAL: JOIN COURSE -->
  <div id="modal-join-course" class="w3-modal">
    <div class="w3-modal-content w3-card-8" ng-form name="formJoinCourse">
      <div class="w3-container w3-dark-grey">
        <span class="w3-closebtn" ng-click="hide('#modal-join-course')">&times;</span>
        <h1>Join a Course</h1>
      </div>
      <div class="w3-container">
        <label><strong>Course Code</strong></label>
        <span class="w3-text-red" ng-show="formJoinCourse.courseCode.$dirty && formJoinCourse.courseCode.$invalid">
          <span ng-show="formJoinCourse.courseCode.$error.required">Required</span>
        </span>
        <input name="courseCode" class="w3-input" type="text" placeholder="Enter Course Code" ng-model="joinToken" required>
      </div>
      <div class="w3-container w3-padding-top w3-padding-bottom">
        <button class="w3-btn w3-green" ng-disabled="formJoinCourse.courseCode.$invalid" ng-click="joinCourse(joinToken)">Join</button>
        <button class="w3-btn w3-green" ng-click="hide('#modal-join-course')">Cancel</button>
        <span class="w3-text-red">{{ joinError }}</span>
      </div>
      <div class="w3-container w3-dark-grey">&nbsp;</div>
    </div>
  </div>
  
  <!-- MODAL: CREATE WEB SNIPPET -->
  <div id="modal-create-web-snippet" class="w3-modal">
    <div class="w3-modal-content w3-card-8" ng-form name="formCreateWebSnippet">
      <div class="w3-container w3-dark-grey">
        <span class="w3-closebtn" ng-click="hide('#modal-create-web-snippet')">&times;</span>
        <h1>Create Web Snippet</h1>
      </div>
      <div class="w3-container padding-0 margin-0">
        <textarea id="tinymce-create-web-snippet"></textarea>
      </div>
      <div class="w3-container w3-padding-top w3-padding-bottom">
        <button class="w3-btn w3-green" ng-click="createWebSnippit()">Create</button>
        <button class="w3-btn w3-green" ng-click="hide('#modal-create-web-snippet')">Cancel</button>
        <span class="w3-text-red">Error Placeholder</span>
      </div>
      <div class="w3-container w3-dark-grey">&nbsp;</div>
    </div>
  </div>
  
  <!-- MODAL: CREATE PROGRAMMING TASK -->
  <div id="modal-create-programming-task" class="w3-modal">
    <div class="w3-modal-content w3-card-8" ng-form name="formCreateProgrammingTask">
      <div class="w3-container w3-dark-grey">
        <span class="w3-closebtn" ng-click="hide('#modal-create-programming-task')">&times;</span>
        <h1>Create a Programming Task</h1>
      </div>
      <div class="w3-container">
        <h2>Instructions</h2>
        <textarea id="tinymce-create-programming-task"></textarea>
        <h2>Starter Code (If Necessary)</h2>
        <div id="ace-container">
          <div id="editor">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>     
        </div>
      </div>
      <div class="w3-container w3-padding-top w3-padding-bottom">
        <button class="w3-btn w3-green" ng-click="createProgrammingTask()">Create</button>
        <button class="w3-btn w3-green" ng-click="hide('#modal-create-programming-task')">Cancel</button>
        <span class="w3-text-red">Error Placeholder</span>
      </div>
      <div class="w3-container w3-dark-grey">&nbsp;</div>
    </div>
  </div>
  
  <!-- AUTH: GOOGLE LOGIN (KEEP IN DOM TO PREVENT SCRIPT ERRORS) -->
  <div id="login" class="flex center middle" ng-hide="user.userid">
    <div id="logo-container" class="x1 right">
      <img src="img/logo.png" alt="Logo">
    </div>
    <div id="signin-container" class="x1 left">
      <div id="signin" class="g-signin2"></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.0/tinymce.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.0/processing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js" charset="utf-8"></script>
  <script src="js/client.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=appStart" async defer></script>
  
</body>

</html>
