html {
  font-family: verdana;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

body > div {
  flex: 1;
}

#smile {
  width: 30%;
}

#logo-container {
  margin-right: 12px;
}

#signin-container {
  margin-left: 12px;
}

#login-debug {
  margin-top: 40px;
  max-width: 800px;
}

#login {
  position: relative;
  transform: translateY(250%);
}

#login-debug table {
  word-wrap: break-word;
  table-layout:fixed;
  width: 100%;
}

#login-debug tr td:first-child {
  font-weight: bold;
  width: 150px;
}

#login-debug td {
  vertical-align: top;
  padding-right: 20px;
  padding-bottom: 14px;
}

#sidenav {
  display: none;
}

#nav-photo {
  height: 38px;
}

.w3-navbar li #nav-photo-link {
  padding-top: 0;
  padding-bottom: 0;
}
#modal-create-course .w3-modal-content {
  max-width: 600px;
}

/* http://stackoverflow.com/questions/5939341/firefox-4-is-there-a-way-to-remove-the-red-border-in-a-required-form-input */
/* disable firefox validating placeholder text */
input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow: none;
}

.course-card {
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 225px;
  height: 126.5625px; /* 16:9 ratio */
}
.course-card:hover {
  opacity: 0.7;
}
.border-dotted {
  border: dashed #9E9E9E 2px;
}
#add-content {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

#three-bars {
  margin-left: 20px;
}

#add-content-plus-button {
  font-family: monospace;
}
