<div id="modal-do-programming-task" class="w3-modal">
  <div class="w3-modal-content w3-card-8" ng-form name="formDoProgrammingTask">
    <div class="w3-container w3-dark-grey">
      <span class="w3-closebtn" ng-click="hide('#modal-do-programming-task')">&times;</span>
      <h1 ng-bind="t.title"></h1>
    </div>
    <!--
    <div class="w3-container w3-padding-top w3-padding-bottom">
      <label><strong>Task Title</strong></label>
      <span class="w3-text-red" ng-show="formCreateProgrammingTask.title.$dirty && formCreateProgrammingTask.title.$invalid">
        <span ng-show="formCreateProgrammingTask.title.$error.required">Required</span>
      </span>
      <input name="title" class="w3-input" type="text" placeholder="Enter Task Name" ng-model="newProgrammingTask.title" required>
    </div>
    -->
    <div class="w3-container padding-0 margin-0">
      <div id="mpt-0" class="modal-tabbed-content">
        <textarea id="tinymce-create-programming-task"></textarea>
      </div>
      <div id="mpt-1" class="modal-tabbed-content">
        <div id="editor" contenteditable="true"></div>
      </div>
    </div>
    <div class="w3-container w3-padding-top w3-padding-bottom">
      <button class="w3-btn w3-green" ng-click="submitProgrammingTask()">Save</button>
      <button class="w3-btn w3-green" ng-click="hide('#modal-do-programming-task')">Cancel</button>
      <span class="w3-text-red">{{ createError }}</span>
    </div>
    <div class="w3-container w3-dark-grey">&nbsp;</div>
  </div>
</div>